/* Blog List */
.blog-container{
  max-height: 28rem;
}

.blog-content {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "main main main";
  padding: 0 5.4rem;
}

.blog-container{
  max-height: 28rem;
}

.blog-header {
  grid-area: header;
  transition:0.2s;
}

.blog-header:hover {
  background-color: #a2dbff;
  transform: scaleY(1.1);
  transform-origin: center;
}

.blog-header:hover div {
  transform: scaleY(0.909090909090909);
}

.blog-text {
  grid-area: main;
}

.blog-tagline {
  font-family: "Roboto Mono"
}

ul li {
  display: inline;
}

.filter li {
  padding: 0.5rem 1rem;
  border-left: 1px solid;
}

.filter .first-li {
  border: none;
}

.filter li:hover {
  color: #cdecff;
  border-color: black;
  cursor: pointer;
}

/*Blog Post*/

.post {
  margin-right: 42%;
}

.blog-image {
  width: 100%;
  height: auto;
  margin-left: 5%;
}

.blog-text {
  font-size: 1.1rem;
}

.post p {
  border-left: solid;
  border-color: #cdecff;
  border-width: 0.5rem;
  padding-left: 0.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-start: 0.5em;
  padding-block-end: 0.5em;
  line-height: 1.75;
}


/** Script Styles **/
.script-content {
  font-family: 'Courier';
  font-size: 17px;
  font-weight: 550;
  line-height: 1.5;
  padding-top: 30px;
  text-align: left;
} 

.dialogue-block {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}
.dialogue {
  text-align: left;
  border: none !important;
  padding-top: 0 !important;
}

.lead-in {
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Roboto';
}

.character {
  text-align: center;
  margin-bottom: 0;
  border-left: none !important;
}

.action {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1rem;
  margin-bottom: 17px;
}