.resume-content {
  display: grid;
  grid-template-columns: 4fr 10fr;
}

.roboto-mono-font {
  font-family: "Roboto Mono";
}

.resume-name {
  font-size: 1.75rem;
}

.resume-section-header {
  border-bottom: solid;
  border-bottom-width: 2px;
  margin-bottom: 1.5rem;
  padding-bottom: 0.25rem;
  font-family: "Roboto Mono";
  font-size: 1.5rem;
  align-items: center;
}

.reference-margin {
  border-bottom: solid;
  border-bottom-width: 2px;
  padding-bottom: 0.25rem;
  font-family: "Roboto Mono";
  font-size: 1.5rem;
  align-items: center;
  margin-bottom: 0.75rem;
}

.experience-padding {
 padding-top: 4.3rem;
}

.experience-header {
  display: flex;
  justify-content:space-between;
}

.resume-skills-languages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 0.15rem;
}

.resume-skills-technologies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 0.25rem;
}

.resume-skills-other {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-item {
  align-self: center;
  justify-self: center;
}

.resume-list li {
  padding-bottom: 0.25rem;
}

.special-spacer {
  padding-top: 1.25rem;
}

.contact-icon {
  max-width: 1rem;
  height: auto;
  padding-right: 0.5rem;
}

.header-icon {
  max-height: 2rem;
  max-width: 3rem;
  padding-top: 2rem;
  padding-left: 1rem;
}

.header-icon-first {
  max-height: 2rem;
  max-width: 3rem;
  padding-left: 1rem;
}

.black-visited a:visited {
  color: black;
}

.white-visited a:visited {
  color: white;
}