html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-size: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.header {
  font-family: "Roboto Mono";
  padding: 2.5rem;
  padding-left: 15%;
}

.header-title {
  text-decoration: none;
  font-weight: bold;
  color: #9b5094;
}

.nav:hover {
  font-weight: bold;
  border-bottom: solid;
  border-color: #9b5094;
}

.wrapper {
  padding: 0 15%;
  padding-bottom: 2.5rem;
}

.sidebar-btns {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 100%;
  z-index: 99;
  font-size: 1.125rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 0.9375rem;
  border-radius: 0.25rem;
  background-image: url("/arrow-up.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-position: center;
  transition: opacity 2s, left 0.5s, right 0.5s;
}

#scroll-btn {
  background-image: url("/arrow-up.png");
  background-color: #9b5094;
  border-radius: 50%;
  display: block;
}

#scroll-btn:hover {
  background-color: #863c7f;
}

/** footer stlying **/

.widgets {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdecff;
}

.widgets li {
  display: inline;
  margin: 5px 20px;
}

.widgets div {
  display: inline;
  margin: 5px 20px;
}

.widgets img {
  background-color: white;
  border-radius: 16px;
  height: auto;
  width: 70px;
}

.footer {
  list-style-type: none;
  padding: 1rem 0;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer img {
  border-radius: 22px;
}

@media screen and (max-width: 1650px) {
  .wrapper {
    padding: 0 10%;
  }

  .header {
    padding-right: 10%;
    padding-left: 10%;
  }

  .hero {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2rem;
    padding-top: 4rem;
  }
}

@media screen and (max-width: 1300px) {
  .wrapper {
    padding: 0 5%;
  }

  .header {
    padding-right: 5%;
    padding-left: 5%;
  }

  .hero {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 4rem;
  }
}

/** Mobile Styles **/ 

@media screen and (max-width: 500px) {

  .header{
    padding: 1rem;
  }

  #scroll-btn{
    display:none;
  }

  .wrapper{
    padding: 1rem;
    padding-bottom: 0rem;
    margin-bottom: 12rem;
  }
}
