html {
  font-size: 16px;
}
body {
  font-size: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.header {
  font-family: "Roboto Mono";
  padding: 2rem;
  padding-left: 15%;
}

.header-title {
  text-decoration: none;
  font-weight: bold;
  color: #9B5094;
}

.wrapper {
  padding: 0 15%;
  padding-bottom: 2.5rem;
}

.sidebar-btns {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 100%;
  z-index: 99;
  font-size: 1.125rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 0.9375rem;
  border-radius: 0.25rem;
  background-image: url("/arrow-up.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-position: center;
  transition: opacity 2s, left 0.5s, right 0.5s;
  scroll-behavior: smooth;
}

#scroll-btn {
  background-image: url("/arrow-up.png");
  background-color: #9B5094;
  border-radius: 50%;
  display: block;
}

#scroll-btn:hover {
  background-color: #863c7f;
}

/** footer stlying **/
.widgets {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdecff;
  list-style-type: none;
  padding: 5px 0;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.widgets li {
  display: inline;
  margin: 5px 20px;
}

.widgets img {
  background-color: white;
  border-radius: 22px;
  height: auto;
  width: 70px;
}

@media screen and (max-width: 1800px) {
  .wrapper {
    padding: 0 10%;
  }
}
